body{
    margin: auto;
    padding: 100px;
    max-width: 1170px;
    
}
.submit-area {
    margin-top: 50px;
    padding: 50px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}
.deposit{
    background-color: slateblue;    
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
